body {
	padding-top: 70px;
}

.navbar-muni{
	background-color: #009162;
	height: 70px;
}

.navbar-muni .nav>li>a:focus, .navbar-muni .nav>li>a:hover{
	background-color: #009162;
}
.navbar-muni .muni-logo-container{
	padding: 0;
	padding-left: 15px;
}
.navbar-muni .muni-logo-container .muni-logo{
	max-height: 65px;
	margin-top: 2.5px;
}

.navbar-muni .navbar-toggle .icon-bar {
    background-color: #FFF;
}

.navbar-muni.navbar-fixed-bottom .navbar-collapse, .navbar-muni.navbar-fixed-top .navbar-collapse{
	margin-top: 15px;
	border-bottom: 1px solid #009162;
}

.navbar-muni .navbar-collapse {
	background-color: #FFFFFF;
}
.navbar-muni.navbar-fixed-top .navbar-collapse .navbar-nav>li>a{
	background-color: #FFFFFF;
	color: #000;
	font-weight: 400;
	font-size: 1.2em;
	font-family: 'Lato', sans-serif;
}

.navbar-muni.navbar-fixed-top .navbar-collapse .navbar-nav>li>a:hover{
	background-color: #009162;
	color: #FFFFFF;
}

.menu-logo{
	margin-bottom: 2%;
	margin-top: -2%;
}

.menu-logo-scrolled{
	margin-left: 15%;
	margin-top: -6%;
}
.menu-container-scrolled{
	margin-top: -5%;
}




.blank-space{
	height: 100px;
}
/* Extra small devices (phones, less than 768px) */
/* No media query since this is the default in Bootstrap */
/* Small devices (tablets, 768px and up) */

.divider{
	background-color: #DEDEDE;
	height: 1px;
	width: 100%;
	margin-top: 50px;
	margin-bottom: 30px;
}
.nav-tabs{
	border-bottom: 0px;
  margin-left: 50px;
}
.nav-tabs>li>a{
	border: 1px solid #ddd;
	border-radius: 4px;
	margin:0px;
	color: #009162;
}

.nav-tabs>li.active>a,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:hover{
	border: 1px solid #ddd;
	border-radius: 4px;
	margin:0px;
	background-color: #eee;

}
.nav-tabs>li>a.tab-left,
.nav-tabs>li.active>a.tab-left{
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
		border: 1px solid #ddd;
}

.nav-tabs>li>a.tab-right,
.nav-tabs>li.active>a.tab-right{
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
		border: 1px solid #ddd;
	margin-left: -1px;
}

.radio-eleccion-datos{
	margin-right: 10px;
}

.select-categoria{
	margin-left: 25px;
}
.select-categoria select{
	width: 250px;
	max-width: 250px;
}
@media(min-width:375px){
	.select-categoria{
		margin-left: 5px;
	}
	.select-categoria select{
		width: 340px;
		max-width: 340px;
	}
}
@media(min-width:414px){
	.select-categoria{
		margin-left: 5px;
	}
	.select-categoria select{
		width: 375px;
		max-width: 375px;
	}
}

@media(min-width:768px){
	.select-categoria{
		margin-left: 10px;
	}
	.select-categoria select{
		width: 300px;
		max-width: 300px;
	}
	.navbar-muni.navbar-fixed-top .navbar-collapse .navbar-nav>li>a{
		background-color: #009162;
		color: #FFFFFF;
		padding-bottom: 5px;
	}

	.navbar-muni.navbar-fixed-top .navbar-collapse .navbar-nav>li>a:hover{
		background-color: #009162;
		color: #FFFFFF;
		border-bottom: 3px solid #00c075;

	}
	.navbar-muni .navbar-collapse {
		background-color: #009162;
	}
}
/* Medium devices (desktops, 992px and up) */

@media(min-width:992px){
	.select-categoria{
		margin-left: 50px;
	}
	.select-categoria select{
		width: 400px;
		max-width: 400px;
	}
}

/* Large devices (large desktops, 1200px and up) */

@media(min-width:1200px){

}

#bar-chart{
	width: 100%;
	height: 500px;
	margin-top: 15px;
}

#bar-chart div{
	z-index: -1;
}


#node-chart, #tree-chart{
	width: 100%;
	height: 500px;
	padding-top: 20px;
	margin-bottom: 30px;
}

.no-title-tooltips-on-bars #d3plus_tooltip_id_bar .d3plus_tooltip_data_title{
	display: none!important;
}

/*#d3plus_tooltip_id_tree_map .d3plus_tooltip_data_title{
	display: inline!important;
}*/

.D3Plus_Tooltip_Footer_Custom{
	color: #999;
	font-size: 0.9em;
	margin-bottom: -20px;
	text-transform: capitalize;
}

rect.d3plus_data:hover{
	cursor: pointer;
}

.atras-button{
	margin-top: 20px;
	margin-bottom: -10px;
	margin-left: 60px;
	text-align: center;
}
.atras-button p{
	display: inline;
}

#atras-bar-button{
	float: left;
	color: inherit;

}

#atras-bar-button:hover{
	text-decoration:underline;
}

.title-categoria{
	font-size: 0.9em;
}
